:root {
    --bg-head-up: #000000;
    --bg-head-down: #FFFFFF;
    --bg-new-game: #1F1F1F;
    --bg-ps-plus: #BEBCBB;
    --bg-ps-now: #161C3B;
    --bg-footer: #00439C;
    --bg-btn-head: #363636;
    --bg-btn-jumbo: #CD3D0F;
    --bg-btn-ps-plus: #D9DADC;
    --bg-btn-ps5: #2D64E6;
    --bg-btn-ps-now: #F5F5F5;
    --text-blue: #147DD1;
    --text-title: #1F1F1F;
    --text-subtitle: #7A7A7A;
    --text-white: #FFFFFF;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}
/* classi ripetute */
.button {
    display: inline-block;
    padding: 8px 10px;
    color: var(--text-white);
    border: none;
    border-radius: 20px;
}

/* header */
header {
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: var(--bg-head-down);
}

header .header-up {
    width: 100%;
    height: 35px;
    background-color: var(--bg-head-up);
}

.header-up .logo-up {
    width: 100px;
    height: auto;
}

/* main */
main {
    padding: 100px 0;
}

/* jumbotron */
#jumbotron {
    width: 100%;
    height: 590px;
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    
}

#jumbotron .container {
    height: 100%;
}

#jumbotron .row {
    padding: 20px 0;
    height: 100%;
}

#jumbotron img {
    width: 100%;
}

#jumbotron .col-12 h1 {
    font-size: 40px;
    padding: 25px 0;
}

#jumbotron .col-12 p {
    font-size: 18px;
}

#jumbotron .button {
    background-color: var(--bg-btn-jumbo);
    margin: 15px 0;
}

/* ps5 */
#ps5 .box {
    padding: 15px 0;
}

#ps5 img {
    width: 100%;
}

#ps5 .box img {
    width: 100%;
    border-radius: 15px;
}

#ps5 .button {
    background-color: var(--bg-btn-ps5);
}

#ps5 h1 {
    color: var(--text-title);
    font-weight: 600;
    font-size: 35px;
}

#ps5 h2 {
    color: var(--text-subtitle);
    font-size: 20px;
    padding: 20px 0;
}

#ps5 span {
    color: var(--text-blue);
}

#ps5 .attivo {
    border-bottom: 2px solid var(--text-blue);
}

/* game */
#game {
    width: 100%;
    height: 620px;
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-position-x: center;
}

#game .container {
    height: 100%;
}

#game .row {
    height: 100%;
}

#game img {
    width: 55%;
    padding: 10px 0;
}

#game .button {
    background-color: var(--bg-btn-jumbo);
    margin: 15px 0;
}

/* new game */
#new-game {
    width: 100%;
    background-color: var(--bg-new-game);
    padding: 35px 0;
}

#new-game .carta {
    padding: 10px 0;
}

#new-game .carta img {
    width: 100%;
    border-radius: 15px;
}

#new-game .carta p {
    padding: 10px 0;
}

/* ps4 */
#ps4 img {
    width: 100%;
}

#ps4 .button {
    background-color: var(--bg-btn-ps5);
}

#ps4 p {
    color: var(--text-subtitle);
    font-size: 18px;
    font-weight: 600;
}

/* ps-plus */
#ps-plus {
    background-color: var(--bg-btn-ps-plus);
}

#ps-plus img {
    width: 100%;
}